.row
  .col-lg-6
    .well
      %p
        %b Name:
        = @person.name
      %p
        %b Age:
        = @person.age

      %br

      %form{action: "/people/#{@person.id}", method: "post"}
        .form-group
          %input{type: "hidden", name: "_method", value: "delete"}
          %input{:type => "submit", :value => "Delete", class: "btn btn-sm btn-danger"}

%a.btn.btn-sm.btn-primary{href: "/people"} Back
